/.idea/
/output/
/tests/report/
/.vagrant/

selenium*.jar
.DS_Store
*.autosave
*.orig*
*~
*.o
INSTALL.sh
logs/

*.pyc
*.aux
*.log
*.out
*.synctex.gz

TAGradingServer/toolbox/configs/*
!TAGradingServer/toolbox/configs/master_template.php
!TAGradingServer/toolbox/configs/sample_course.php
!TAGradingServer/toolbox/configs/course_template.php

/site/config/*
!/site/config/master_template.ini
!/site/config/course_template.ini

site/vendor/
site/tests/report

db_update.php
.setup/data/random_users.txt
.vscode
*.egg-info/
